<!-- ###ITAW_GIGDISPLAYER### begin -->
   <!-- ###EINTRAG### begin -->

      <div class="gigdisplay-date">###DATETEXT### ###DATETIME###</div>
      <div class="gigdisplay-location">###LOCATIONTEXT### ###LOCATION###</div>
      <div class="gigdisplay-location-address">###LOCATION_ADDRESS###</div>
      <div class="gigdisplay-location-city">###LOCATION_CITY###</div>
      <div class="gigdisplay-info">###INFOTEXT### ###INFO###</div>
      <div class="gigdisplay-flyer">###FLYERTEXT### ###FLYER###</div>
      <br />
	  <div class="gigdisplay-backlink">###BACKLINK###</div>

    <!-- ###EINTRAG### end -->
<!-- ###ITAW_GIGDISPLAYER### end -->